*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  height: 100%;
}

body p {
  margin:0;
}
a {
  text-decoration: none;
  color: white;

}

:root {
  --web-main-clr:rgb(41, 50, 60);
  --second-text-color: rgb(220, 20, 60);
}
span {
  color: var(--second-text-color);
}
/* img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Header Section */

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
  width: 100%;
  position: fixed;
  background-color: rgba(31, 30, 30, 0.205);
  z-index: 10;
  transition: background-color .3s ease;
}

.header-container {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 1300px;
}

.nav-heading {
  display: flex;
  align-items: center;
  width: fit-content;
}
.nav-heading p {
  font-size: 30px;
  font-weight: 700;
}
.nav-menulinks {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
.nav-menulinks ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
}

.nav-menulinks ul li a {
  color: white;
  font-weight: 500;
  padding: 20px;
}
.nav-menulinks ul li a:hover {
  color: crimson;
}


/* Hamburger */


/* Hero Section */


.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero {
  background-image: url("img/hero-bg.png");
  background-size: cover;
  background-position: top center;
  z-index: 1;
  min-height: 100vh;
} 

.hero-heading-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: center;
  align-items: flex-start;
  font-size: 7rem;
  color: white;
  padding: 0 50px;
  width: 100%;
  font-weight: 500;
}
#hero::before{
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: black;
  opacity: .7;
  z-index: -1;
}

.portfolio-button {
  font-size: 25px;
  padding: 2rem 6rem;
  border: 2px solid var(--second-text-color);
  color: white;
  transition: background-color .3s;
  margin-top: 3rem;
  cursor: pointer;
}
.portfolio-button:hover {
  background-color: var(--second-text-color);
}


/* Services Section */



.services-container {
  padding: 100px 0rem;
  width:100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}
.section-heading {
  color: black;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.services-heading p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 25px;
  margin-top: 5px;
}

.services-box-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.services {
  flex-basis: 22%;
  margin: 1.5%;
  position: relative;
  padding: 30px;
  background-size: cover;
  z-index: 1;
  border-radius: 8px;
}
.services::before{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .9;
  z-index: -1;
  border-radius: 8px;
}
.services img {
  width: 80px;
  margin-bottom: 20px;
}
.services .service-subheading {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700; 
  color: white;
}
.services p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
  margin-top: 5px;
  line-height: 25px;
  letter-spacing: .5px;
}
.webdesign-box {
  background-image: url("img/webdesign.avif");
}
.ecomerce-box {
  background-image: url("img/ecom.jpg");
}
.webdevelopment-box {
  background-image: url("img/web-develop.jpg")
}
.cms-box {
  background-image: url("img/CMS.jpg")
}

/* Projects Section */

#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.projects-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects .section-heading {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.project {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.project-content {
  flex-basis: 50%;
  padding: 30px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.project-heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.project-sub-heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.project-description {
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 25px;
  font-weight: 300;
}
.project-visit {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: white;
  background-color: var(--second-text-color);
  width: fit-content;
  padding: 6px 30px 6px 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 40px;
  opacity: 0;
}
.project-visit:active {
  box-shadow: inset -.7px .7px 0px 0px white, inset -.7px -.7px 0px 0px white;  
}
.project-visit img {
  width: 24px;
  margin-left: 7px;
}
.project-image {
  flex-basis: 50%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 400px;
}
.project-image::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
  z-index: 1;
}
.project-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform .3s ease;
}
.project:hover .project-image img {
  transform: scale(1.1);
}
.project:hover .project-visit {
  opacity: 1;
  animation: slidein 1.6s ease-out;
}


.projects-container .project:nth-child(odd){
  flex-direction: row-reverse;
}

/* About Me Setion */
#aboutme {
  height: 100%;
}
.aboutme-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 10rem 20px;
  height: 100%;
}


.col-left {
  padding-left: 6rem;
  width: 600px;
  height: 400px;
}

.col-right {
  width: 100%;
}

.aboutme-description {
  padding: 1rem 3rem 4rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aboutme-image {
  width: 100%;
  height: 100%;
  border: 10px solid white;
  position: relative;
}
.aboutme-image::before {
  content: '';
  position: absolute;
  top: 40px;
  left:-45px;
  height: 96%;
  width: 100%;
  border: 10px solid crimson;
  z-index: -1;
  
}
.aboutme-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.aboutme-description .aboutme-heading {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 10px
}
.aboutme-description .aboutme-subheading {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.aboutme-description .aboutme-content {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.download-button {
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  border: 2px solid var(--second-text-color);
  transition: background-color .3s;
  cursor: pointer;
  margin: 30px 0px;
  text-align: center;
}
.download-button:hover {
  background-color: var(--second-text-color);
}


/* Contact Section */

.contact-container {
  padding: 100px 0;
  max-width: 1200px;
  height: 457px;
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-content{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-info {
  width: 100%;
  display: flex;
  padding: 0 1.4%;
}

.contact-box {
  box-shadow: 0px 0px 18px 0px #0000002c;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content:center;
  flex:1;
  margin: 0 1.4%;
  border-radius: 10px;
  transition: box-shadow .3s ease;
  cursor: pointer;
}
.contact-box:hover {
  box-shadow: 0px 0px 5px 0px #0000002c;
}
.box-image {
  margin-bottom: 1rem;
  height: 100px;
  display: flex;
  align-items: center; 
}
.box-image img:hover {
  transform: scale(1.3) rotate(360deg);
}
.contact-box .box-image img {
  width: 73px;
  transition: transform 1s;
}
.box-description {
  padding-left: 2rem;
}

.box-description .box-heading{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}

.box-description .box-info {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}


/* Footer Section */

#footer {
  height: 250px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 100%;
  padding: 50px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%
}
.footer-heading {
  font-size: 30px;
  font-weight: 700;
}
.footer-subheading {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px 0;
}
.social-icons a img {
  width: 50px;
}
.social-icons a{
  margin: 0 5px;
  filter: grayscale(1);
  transition: filter .3s ease;
}
.social-icons a:hover {
  filter: grayscale(0);
}
.social-icons {
  margin-top: .5rem;
  margin-bottom: 2.5rem;
}

.footer-copyright {
  font-size: 13px;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 25px;
}



/* Key Frames for Animation */

@keyframes slidein {
  from {
    margin-left: -29%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4)
  }
}










